---
import AboutMeIcon from "./Icons/AboutMeIcon.astro";
---

<div>
  <div class="flex flex-row gap-2 justify-start items-center h-20">
    <AboutMeIcon />
    <h1 class="text-3xl font-bold">About Me</h1>
  </div>
  <div class="flex flex-col gap-4">
    <p>
      Inicié mi camino en el mundo de la Informática en 2014, explorando
      diversas áreas hasta encontrar mi pasión en el desarrollo web, con un
      enfoque en el perfil frontend. Me gradué con honores en la promoción de
      2020 de la Universidad de Matanzas como Ingeniero Informático, logrando
      estar entre los mejores de mi año. Este logro me permitió ser eximido de
      mi ejercicio de culminación.
    </p>
    <p>
      Me considero una persona versátil, capaz de manejar múltiples tareas
      simultáneamente. Tengo una amplia experiencia en entornos laborales que
      valoran el compromiso y la capacidad de trabajar en equipo. Me caracterizo
      por mi dinamismo, proactividad y entusiasmo. Poseo sólidos conocimientos
      digitales y busco constantemente oportunidades para desarrollarme
      profesionalmente. Destaco por mi excelente capacidad de organización y por
      mi amplia experiencia profesional.
    </p>
    <p>
      Actualmente, estoy en busca de una nueva oportunidad laboral que me
      permita seguir desarrollando mi carrera. Disfruto enfrentándome a desafíos
      y buscando soluciones a problemas que representen un reto profesional.
    </p>
  </div>
</div>
