---
import BriefCaseIcon from "./Icons/BriefCaseIcon.astro";
---

<div>
  <div class="flex flex-row gap-2 justify-start items-center h-20">
    <BriefCaseIcon />
    <h1 class="text-3xl font-bold">Experiencia</h1>
  </div>
</div>

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-6">
    <span
      class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-device-laptop"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3 19l18 0"></path><path
          d="M5 6m0 1a1 1 0 0 1 1 -1h12a1 1 0 0 1 1 1v8a1 1 0 0 1 -1 1h-12a1 1 0 0 1 -1 -1z"
        ></path></svg
      >
    </span>
    <h3
      class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
    >
      Desarrollador Front End <span
        class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3"
        >Actual</span
      >
    </h3>
    <time
      class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >09/2021 - Actualidad</time
    >
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      En la actualidad, ejerzo como desarrollador frontend en una empresa que
      colabora estrechamente con PartsBase Inc., una prestigiosa corporación con
      presencia mundial y sede en Norteamérica. Mi responsabilidad clave es la
      concepción y optimización de interfaces de usuario intuitivas y
      visualmente atractivas. En sinergia con PartsBase Inc., nos dedicamos a la
      mejora continua de la experiencia del usuario, lo que nos permite
      consolidar nuestra posición de liderazgo en la industria.
    </p>
    <!-- <a
      href="#"
      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
      ><svg
        class="w-3.5 h-3.5 me-2.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"
        ></path>
        <path
          d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"
        ></path>
      </svg> Download ZIP</a
    > -->
  </li>
  <li class="mb-10 ms-6">
    <span
      class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-school"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path><path
          d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path></svg
      >
    </span>
    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
      Profesor en la Universidad de Matanzas
    </h3>
    <time
      class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >08/2021 - 05/2023</time
    >
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      Tuve el privilegio de desempeñarme como profesor en la prestigiosa
      Universidad de Matanzas. Durante mi tiempo allí, impartí clases en
      diversas áreas cruciales de la informática, incluyendo Redes de
      Computadoras, Programación Web y Lenguajes y Técnicas de Programación. Mi
      experiencia en la enseñanza no solo me permitió compartir mis
      conocimientos y habilidades con los estudiantes, sino que también me
      proporcionó una valiosa perspectiva sobre las tendencias emergentes y las
      necesidades en constante evolución del campo de la informática.
    </p>
  </li>
  <li class="mb-10 ms-6">
    <span
      class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-bolt"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11"></path></svg
      >
    </span>
    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
      Adiestrado En Soluciones De Software
    </h3>
    <time
      class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >07/2020 - 07/2021</time
    >
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      Desempeñé un papel crucial en la solución de problemas de software. Mi
      trabajo allí implicaba la creación y mantenimiento de software, lo que me
      permitió aplicar y expandir mis habilidades técnicas. Me dediqué a
      identificar y resolver problemas de software, lo que resultó en mejoras
      significativas en la eficiencia y funcionalidad del software existente. Mi
      experiencia en la Empresa Eléctrica de Matanzas me proporcionó una valiosa
      experiencia en la gestión de problemas de software en un entorno
      empresarial.
    </p>
  </li>
  <li class="ms-6">
    <span
      class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-first-aid-kit"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M8 8v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path><path
          d="M4 8m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
        ></path><path d="M10 14h4"></path><path d="M12 12v4"></path></svg
      >
    </span>
    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
      Creador y desarrollador de la web de Novus Community Services
    </h3>
    <time
      class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >12/2020</time
    >
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      Aunque es un sitio web estático, su creación ha tenido un impacto
      significativo, permitiendo a la organización llegar a más familias que
      necesitan ayuda. Mi papel implicó la conceptualización, diseño y
      desarrollo de la plataforma en línea desde cero. Aproveché mis habilidades
      en desarrollo frontend para crear una interfaz de usuario intuitiva y
      atractiva, y trabajé en estrecha colaboración con los stakeholders para
      garantizar que el sitio web cumpliera con sus necesidades y expectativas.
      Además de la creación del sitio web, también me encargué de su
      mantenimiento y optimización continua, asegurando que la plataforma
      permaneciera actualizada y eficiente. Este proyecto no solo me permitió
      aplicar y expandir mis habilidades técnicas, sino que también representó
      un crecimiento personal significativo para mí.
    </p>
  </li>
</ol>
