---

---

<div class="flex flex-col justify-center items-center gap-2 mb-8">
    <h1 class="text-7xl">Welcome to My Portfolio</h1>
    <div class="flex flex-row justify-center items-center gap-2">
        <h3 class="text-4xl">My name is Cesar Julio Arencibia Vazquez</h3>
        <a 
        class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 hover:bg-blue-300"
        href="#"
        >Available for hiring</a>
    </div>
    
    <h2 class="text-4xl"><span class="text-blue-600/80">+4 years</span> of experience in <span class="text-blue-600/80">web development</span></h2>
</div>
