---
import GitHubIcon from "./Icons/GitHubIcon.astro";
import LinkedInIcon from "./Icons/LinkedInIcon.astro";
import MailIcon from './Icons/MailIcon.astro';


---

<div class="flex flex-row">
    <nav>
        <ul class="flex flex-row items-center justify-center gap-8">
            <li>
                <a
                    class="flex flex-row items-center justify-center rounded border border-current px-2"
                    href="https://www.linkedin.com/in/cesar-julio-arencibia-vazquez"
                    target="_blank">
                    <LinkedInIcon />
                    LinkedIn
                </a>
            </li>
            <li>
                <a 
                    class="flex flex-row items-center justify-center rounded border border-current px-2"
                    href="https://github.com/Cesar9611"
                    target="_blank">
                    <GitHubIcon />
                    GitHub
                </a>
            </li>
            <li>
                <a 
                    class="flex flex-row items-center justify-center rounded border border-current px-2"
                    href="mailto:csar9611@gmail.com"
                    target="_blank">
                    <MailIcon />
                    csar9611@gmail.com
                </a>
            </li>
        </ul>
    </nav>
</div>